@page "/AddProdPage"
@using Admin.Services
@using Admin.Model
@using System.IO
@inject ProductResponse productResponse
@inject SupplierResponse supplierResponse
@inject CategoryResponse categoryResponse
@inject NavigationManager navigation

<h3>Thêm sản phẩm mới</h3>
<div class="container">
    <EditForm Model="newProduct" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <InputText class="form-control" id="name" @bind-Value="newProduct.Name" required />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Giá</label>
            <InputNumber class="form-control" id="price" @bind-Value="newProduct.Price" required />
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Ảnh</label>
            <InputFile id="image" OnChange="HandleImageChange" />
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Trạng thái</label>
            <InputSelect id="status" @bind-Value="newProduct.Status" required>
                <option value="">Vui lòng chọn trạng thái sản phẩm</option>
                <option value="Bán">Bán</option>
                <option value="Ngừng bán">Ngừng bán</option>
            </InputSelect>
        </div>
        <div class="mb-3">
            <label for="supplier" class="form-label">Nhà cung ứng</label>
            <InputSelect id="supplier" @bind-Value="newProduct.IDSupplier" required>
                <option value="">Vui lòng chọn nhà cung ứng</option>
                @if (supplierItems != null)
                {
                    @foreach (var sup in supplierItems)
                    {
                        <option value="@sup.IDSupplier">@sup.Name</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Loại sản phẩm</label>
            <InputSelect id="category" @bind-Value="newProduct.IDCategory" required>
                <option value="">Vui lòng chọn loại sản phẩm</option>
                @if (categoryItems != null)
                {
                    @foreach (var cate in categoryItems)
                    {
                        <option value="@cate.IDCategory">@cate.Name</option>
                    }
                }
            </InputSelect>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Thêm</button>
            <button type="button" class="btn btn-secondary">Quay về danh sách</button>
        </div>
    </EditForm>
</div>

@code {
    private IEnumerable<Supplier> supplierItems;
    private IEnumerable<Category> categoryItems;
    private Product newProduct = new Product();
    private IBrowserFile uploadedImage;

    protected override async Task OnInitializedAsync()
    {
        supplierItems = await Task.Run(() => supplierResponse.GetSuppliers());
        categoryItems = await Task.Run(() => categoryResponse.GetCategories());
    }

    private async Task HandleValidSubmit()
    {
        if (uploadedImage != null)
        {
            var imageFileName = await SaveImageFile(uploadedImage);
            newProduct.Image = imageFileName;
        }
        else
        {
            newProduct.Image = "default-image.jpg"; // Giá trị mặc định nếu không có ảnh tải lên
        }

        await Task.Run(() => productResponse.AddAsync(newProduct));
        navigation.NavigateTo("/ProductPage");
    }

    private void HandleImageChange(InputFileChangeEventArgs e)
    {
        uploadedImage = e.File;
    }

    private async Task<string> SaveImageFile(IBrowserFile file)
    {
        var fileName = Guid.NewGuid().ToString() + Path.GetExtension(file.Name);
        var filePath = Path.Combine("wwwroot/Image_Product", fileName);

        using (var stream = new FileStream(filePath, FileMode.Create))
        {
            await file.OpenReadStream().CopyToAsync(stream);
        }

        return fileName;
    }
}
