@page "/UpdateProd/{id:int}"
@using Admin.Services
@using Admin.Model
@inject ProductResponse Prodrespone
@inject SupplierResponse supplierresponse
@inject CategoryResponse categoryresponse
@inject NavigationManager Navigation

<h3>Chỉnh sửa sản phẩm</h3>

<div class="container">
    <form @onsubmit="UpdateProduct">

        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" @bind="product.Name" required />
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Giá</label>
            <input type="number" class="form-control" id="price" @bind="product.Price" required />
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Ảnh</label>
            <input type="text" class="form-control" id="image" @bind="product.Image" required />
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Trạng thái</label>
            <select class="form-control" id="status" @bind="product.Status" required>
                <option value="">Vui lòng chọn trạng thái sản phẩm</option>
                <option value="Bán">Bán</option>
                <option value="Ngừng bán">Ngừng bán</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Nhà cung ứng</label>
            <select class="form-control" id="supplier" @bind="product.IDSupplier" required>
                <option value="">Vui lòng chọn nhà cung ứng</option>
                @if (supplieritems != null)
                {
                    @foreach(var item in supplieritems)
                    {
                        <option value="@item.IDSupplier">@item.Name</option>
                    }
                }
             
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <button type="button" class="btn btn-secondary" @onclick="NavigateToProductPage">Quay về danh sách</button>
        </div>
    </form>
</div>

@code {
    [Parameter] public int id { get; set; }
    private Product product = new Product();
    private IEnumerable<Supplier> supplieritems;
    private IEnumerable<Category> categoryitems;

    protected override async Task OnInitializedAsync()
    {
        product = await Task.Run(() => Prodrespone.GetProductId(id));
        supplieritems = await Task.Run(() => supplierresponse.GetSuppliers());
        categoryitems = await Task.Run(() => categoryresponse.GetCategories());
        StateHasChanged(); // Cập nhật giao diện người dùng
    }

    private async Task UpdateProduct()
    {
        await Task.Run(() => Prodrespone.Update(product, id)); // Truyền cả product và id

        // Khi cập nhật thành công, gọi StateHasChanged() để cập nhật giao diện người dùng
        StateHasChanged();

        Navigation.NavigateTo("/ProductPage");
    }

    private void NavigateToProductPage()
    {
        Navigation.NavigateTo("/ProductPage");
    }
    // trang này lỗi chưa lưu được nhà cung ứng và loại sản phẩm
}
