@page "/forgotPass"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js
@using Blazor.Shared.Model

<div class="container">
    <div class="col-md-4 offset-4">
        @if(loading == true)
        {
           <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
           </div>
        }
        @if (messageSuccess != null)
        {
            <div class="alert alert-success mt-3">
                @messageSuccess
            </div>
        }
        @if (messageError != null)
        {
            <div class="alert alert-danger mt-3">
                @messageError
            </div>
        }
        <div class="form-group m-3">
            <label for="email">Nhập Email của bạn</label>
            <input class="form-control" @bind-value="Email" />
            @if (!string.IsNullOrEmpty(errorValid))
            {
                <div class="text-danger">@errorValid</div>
            }
        </div>
        <div class="form-group m-3">
            <button type="submit" class="btn btn-dark btn-block" @onclick="SubmitForm">Gửi</button>
        </div>
    </div>
</div>
