@page "/product"

<PageTitle>Product</PageTitle>
<style>
    .bg-text {
        background-color: white;
    }

    .col-sm-3 .border {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3 .container-fluid {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3:hover .border {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .col-sm-3:hover .container-fluid {
        transform: translateY(-5px);
    }

    .breadcrumb-item a {
        color: #6c757d;
        text-decoration: none;
    }
</style>

<ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>

    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
</ol>
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-3">
            <h5>Loại</h5>
            <form method="post" asp-action="FilterByCategories" id="filterByCate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selectedCategories">
                        <label class="form-check-label" for="">Áo</label>
                    </div>
                <button type="submit" class="btn btn-dark mt-3">Lọc</button>
            </form>

            <hr class="mt-3 mb-3">

            <h5>Phạm vi giá</h5>
            <form action="/Product/FilterByPrice" method="post">
                <div class="input-group mb-3">
                    <input type="number" placeholder="Thấp" class="form-control" name="priceLow" id="priceLow" >
                    <input type="number" placeholder="Cao" class="form-control" name="priceHigh" id="priceHigh" >
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Lọc</button>
                    </div>
                </div>
            </form>

            <hr class="mt-3 mb-3">

            <h5>Thứ tự sắp xếp</h5>
            <form method="post" asp-action="SortOrder" id="sortOrderForm">
                <div class="form-check">
                    <input class="form-check-input123" type="radio" name="sortOrder" id="priceLowToHigh" value="priceLowToHigh">
                    <label class="form-check-label" for="priceLowToHigh">
                        Giá từ thấp - cao
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input123" type="radio" name="sortOrder" id="priceHighToLow" value="priceHighToLow">
                    <label class="form-check-label" for="priceHighToLow">
                        Giá từ cao - thấp
                    </label>
                </div>
            </form>
        </div>


        <div class="col-sm-9">
            <div class="row">
                    <div class="col-sm-4 d-flex justify-content-center flex-column prod">
                        <div class="border border-secondary-subtle rounded">
                           <img src="Image_Product/anh1.png" alt="Alternate Text" class="mw-100" />
                        </div>
                        <div class="row container-fluid">
                            <div class="col-sm-8 mb-1">
                                <p class="font-weight-bold text-truncate">Áo số 1</p>
                                <p style="font-size: small;" class="text-truncate">Áo</p>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <p class="font-weight-bold text-truncate">120.000 đồng</p>
                            </div>
                        </div>
                        <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                    </div>

                <div class="col-sm-4 d-flex justify-content-center flex-column prod">
                    <div class="border border-secondary-subtle rounded">
                        <img src="Image_Product/anh1.png" alt="Alternate Text" class="mw-100" />
                    </div>
                    <div class="row container-fluid">
                        <div class="col-sm-8 mb-1">
                            <p class="font-weight-bold text-truncate">Áo số 1</p>
                            <p style="font-size: small;" class="text-truncate">Áo</p>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <p class="font-weight-bold text-truncate">120.000 đồng</p>
                        </div>
                    </div>
                    <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                </div>
                <div class="col-sm-4 d-flex justify-content-center flex-column prod">
                    <div class="border border-secondary-subtle rounded">
                        <img src="Image_Product/anh1.png" alt="Alternate Text" class="mw-100" />
                    </div>
                    <div class="row container-fluid">
                        <div class="col-sm-8 mb-1">
                            <p class="font-weight-bold text-truncate">Áo số 1</p>
                            <p style="font-size: small;" class="text-truncate">Áo</p>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <p class="font-weight-bold text-truncate">120.000 đồng</p>
                        </div>
                    </div>
                    <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                </div>
                <div class="col-sm-4 d-flex justify-content-center flex-column prod">
                    <div class="border border-secondary-subtle rounded">
                        <img src="Image_Product/anh1.png" alt="Alternate Text" class="mw-100" />
                    </div>
                    <div class="row container-fluid">
                        <div class="col-sm-8 mb-1">
                            <p class="font-weight-bold text-truncate">Áo số 1</p>
                            <p style="font-size: small;" class="text-truncate">Áo</p>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <p class="font-weight-bold text-truncate">120.000 đồng</p>
                        </div>
                    </div>
                    <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                </div>
                <div class="col-sm-4 d-flex justify-content-center flex-column prod">
                    <div class="border border-secondary-subtle rounded">
                        <img src="Image_Product/anh1.png" alt="Alternate Text" class="mw-100" />
                    </div>
                    <div class="row container-fluid">
                        <div class="col-sm-8 mb-1">
                            <p class="font-weight-bold text-truncate">Áo số 1</p>
                            <p style="font-size: small;" class="text-truncate">Áo</p>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <p class="font-weight-bold text-truncate">120.000 đồng</p>
                        </div>
                    </div>
                    <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                </div>
                <div class="col-sm-4 d-flex justify-content-center flex-column prod">
                    <div class="border border-secondary-subtle rounded">
                        <img src="Image_Product/anh1.png" alt="Alternate Text" class="mw-100" />
                    </div>
                    <div class="row container-fluid">
                        <div class="col-sm-8 mb-1">
                            <p class="font-weight-bold text-truncate">Áo số 1</p>
                            <p style="font-size: small;" class="text-truncate">Áo</p>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <p class="font-weight-bold text-truncate">120.000 đồng</p>
                        </div>
                    </div>
                    <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                </div>                

            </div>
        </div>
    </div>
</div>
